body {
  margin: 0;
}

div {
  background-color: #a7d2cb;
}

h1 {
  margin: 0;
}

.home-btn {
  background-color: #f2d388;
  color: #874c62;
}

.middle-container {
  background-color: red;
  margin-left: 208px;
}

.bottom-container {
  background-color: yellow;
  margin-left: 416px;
}
