/* General */
* {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
/* NAVBAR */
.navbar {
  padding-bottom: 4.5rem;
}

body {
  position: relative;
}

.nav-item {
  padding: 0 1.8rem;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.nav-item:last-child a:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  font-weight: 500;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

/* TITLE SECTION */

#title {
  background-color: #ff486c;
  color: white;
}

.container-fluid {
  padding: 0 15% 3%;
}

.dld-btn {
  margin: 5% 3% 5% 0;
}

.title-img {
  width: 42%;
  transform: rotate(20deg);
  position: absolute;
  right: 20%;
}

.position-rel {
  position: relative;
}

/* FEATURES SECTION */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 2;
}

.feature-item {
  padding: 5%;
}

.feature-item i {
  color: #ef8172;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.feature-item:first-child i {
  font-weight: 600;
}

.feature-item i:hover {
  color: #ff4c68;
}

.feature-item p {
  color: #8f8f8f;
}

/* TESTIMONIALS SECTION */

#testimonials {
  background-color: #ff4c68;
  color: white;
}

.carousel-item {
  padding: 7% 15%;
}

.carousel-item img {
  border-radius: 50%;
  width: 50%;
  margin: 2rem auto 1rem;
}

/* PRESS SECTION */

#press {
  background-color: #ff4c68;
  padding-bottom: 3%;
}

#press img {
  width: 15%;
  margin: 2rem 2rem 5rem;
}

/* PRICING SECTION */
#pricing {
  padding-top: 3%;
}
#pricing .row {
  margin-top: 4rem;
}

.price-card-txt {
  font-weight: 500;
  margin: 2rem 0 1rem;
}
.price-card-title {
  font-weight: 500;
  text-transform: uppercase;
}

.hidden-p {
  opacity: 0;
}

.card {
  margin-bottom: 2rem;
}

/* CTA SECTION */

#cta {
  color: white;
  padding: 3% 15%;
  background-color: #ff4c68;
}

#cta h3 {
  font-size: 3rem;
  padding: 0 15%;
  font-family: "Montserrat", sans-serif;
}

/* MEDIA QUERY */

@media (max-width: 1400px) {
  .position-rel {
    position: initial;
  }
  .title-img {
    position: initial;
    transform: rotate(0);
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .title-img {
    width: 60%;
    margin-left: 9rem;
  }
  #cta h3 {
    padding: 0;
  }
}

@media (max-width: 1200px) {
  .row > div {
    width: 100%;
    text-align: center;
  }
  .position-rel {
    width: 100%;
  }
  .title-img {
    width: 50%;
  }
  #press img {
    width: 35%;
    margin: 2rem 3rem;
  }
  #cta h3 {
    font-size: 2rem;
    padding: 0;
    font-weight: 600;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 2.4rem;
  }
  #press img {
    width: 50%;
    margin: 0 0 1rem 0;
  }

  h2 {
    font-size: 2rem;
  }

  .carousel-item img {
    width: 50%;
  }

  #cta h3 {
    font-size: 1.6rem;
    padding: 0;
    font-weight: 600;
  }
}
